<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="loginContent">
    <span th:if="${session.user_email == null}">
        <a href="https://kauth.kakao.com/oauth/authorize?client_id=394cbd2e5e0ad400adbc202784ad624b&redirect_uri=http://localhost:8080/wowmarket/users/login/kakao&response_type=code">
            <img src="img/kakao_login_medium_narrow.png">
        </a>
    </span>
    <span th:if="${session.user_email != null}">
        <b>[로그인 성공]</b>
        <br><br>
        <a href="http://localhost:8080/wowmarket/users/kakao/unlink">
            <button value="연결끊기">연결끊기</button>
        </a>
        <br><br>
        <a href="http://localhost:8080/wowmarket/users/logout/kakao">
            <button value="로그아웃">로그아웃</button>
        </a>
    </span>
</div>
</body>
</html>